# Import Neighboorhoods file

This Docker container may serve as a starting point for your course project.
It includes a set of simple instructions to:
<br>
 -> load a dataset (locally)
 <br>
 -> into a database
 <br>
 -> and be able to query data from the database
 <br>
 -> and make simple visualizations on the queried data

In [2]:
# Imports

from sqlalchemy import create_engine, text, inspect, Table
import pandas as pd

## Load csv file

Load the file called world_population.csv into a pandas dataframe. Make sure you parse the columns correctly.

In [3]:
import os

# Get the current working directory
current_directory = os.getcwd()

# Get the parent directory (directory above the current directory)
parent_directory = os.path.dirname(current_directory)

# List all folders in the parent directory
folders_in_parent_directory = [folder for folder in os.listdir(parent_directory) if os.path.isdir(os.path.join(parent_directory, folder))]

# Print the list of folders
print("Folders in the parent directory:")
for folder in folders_in_parent_directory:
    print(folder)

Folders in the parent directory:
etc
proc
root
mnt
home
boot
dev
opt
lib
srv
sys
usr
media
var
bin
sbin
tmp
run
notebook
data

In [4]:
# Load the csv into a pandas dataframe (https://www.w3schools.com/python/pandas/pandas_dataframes.asp)
kwbfile = pd.read_excel("../data/kwb-2023.xls")

print(kwbfile)

      gwb_code_10 gwb_code_8                         regio         gm_naam  \
0            NL00       0000                     Nederland       Nederland
1          GM0014       0014                     Groningen       Groningen
2        WK001400     001400                       Centrum       Groningen
3      BU00140000   00140000              Binnenstad-Noord       Groningen
4      BU00140001   00140001               Binnenstad-Zuid       Groningen
...           ...        ...                           ...             ...
18111  BU19923201   19923201             Tuindorp-Hofstede  Voorne aan Zee
18112  BU19923202   19923202                      Zalmlaan  Voorne aan Zee
18113  BU19923209   19923209             Verspreide huizen  Voorne aan Zee
18114    WK199233     199233  Recreatiestrook Brielse Maas  Voorne aan Zee
18115  BU19923300   19923300  Recreatiestrook Brielse Maas  Voorne aan Zee

           recs    gwb_code ind_wbi     a_inw    a_man  a_vrouw  ...  \
0          Land        NL00       .  17811291  8850309  8960982  ...
1      Gemeente      GM0014       1    238147   118198   119949  ...
2          Wijk    WK001400       1     23150    12045    11105  ...
3         Buurt  BU00140000       1      4405     2315     2090  ...
4         Buurt  BU00140001       1      6570     3505     3060  ...
...         ...         ...     ...       ...      ...      ...  ...
18111     Buurt  BU19923201       2       960      485      480  ...
18112     Buurt  BU19923202       2        65       35       30  ...
18113     Buurt  BU19923209       2       300      150      145  ...
18114      Wijk    WK199233       2        50       25       30  ...
18115     Buurt  BU19923300       2        55       25       25  ...

       g_afs_kv  g_afs_sc  g_3km_sc  a_opp_ha  a_lan_ha  a_wat_ha  pst_mvp  \
0             .         .         .   4154337   3364723    789614        .
1             .         .         .     19796     18553      1243        .
2             .         .         .       241       228        13        .
3             .         .         .        39        37         2     9712
4             .         .         .        59        55         4     9711
...         ...       ...       ...       ...       ...       ...      ...
18111         .         .         .        30        27         4     3238
18112         .         .         .        17        11         6     3238
18113         .         .         .       884       809        75     3238
18114         .         .         .       233       121       112        .
18115         .         .         .       233       121       112     3231

       pst_dekp  ste_mvs ste_oad
0             .        2    2055
1             .        1    3427
2             .        1    6647
3             1        1    6865
4             1        1    6586
...         ...      ...     ...
18111         3        5     284
18112         1        5     278
18113         1        5      95
18114         .        5      84
18115         1        5      84

[18116 rows x 120 columns]

## Store data into database
Save the contents in the world_population file to the a table called population in the database.

In [6]:
# Create a SQLAlchemy engine to connect to the PostgreSQL database
engine = create_engine("postgresql://student:infomdss@db_dashboard:5432/dashboard")

# Establish a connection to the database using the engine
# The 'with' statement ensures that the connection is properly closed when done
with engine.connect() as conn:
    # Execute an SQL command to drop the 'population' table if it exists
    # The text() function allows you to execute raw SQL statements
    result = conn.execute(text("DROP TABLE IF EXISTS neighborhoods CASCADE;"))

# Assuming you have a DataFrame named 'world_population_df', the following line
# writes the data from the DataFrame to a new 'population' table in the database
# If the 'population' table already exists, it will be replaced with the new data
# This prints the number of rows entered in the database table
kwbfile.to_sql("neighborhoods", engine, if_exists="replace", index=True)

26

## Fetch data from database
Read the table **population** from the database in a dataframe. Make sure the index column is the index of the dataframe.

In [7]:
# Read data from the SQL table named 'population' using pandas
# 'pd.read_sql_table' is a pandas function that reads data from an SQL table
# 'db_conn' is the database connection object previously established
neighborhoods_table = pd.read_sql_table('neighborhoods', engine, index_col='index')

# This line prints the entire DataFrame to the output
print(neighborhoods_table)

# Note that we transformed the data from a .csv file to a pandas dataframe
# Then loaded the dataframe into the database table
# And now we have pulled the data from the database and put it in a dataframe again
# This is an example of how you might store and fetch data to and from your database for your dashboard

      gwb_code_10 gwb_code_8                         regio         gm_naam  \
index
0            NL00       0000                     Nederland       Nederland
1          GM0014       0014                     Groningen       Groningen
2        WK001400     001400                       Centrum       Groningen
3      BU00140000   00140000              Binnenstad-Noord       Groningen
4      BU00140001   00140001               Binnenstad-Zuid       Groningen
...           ...        ...                           ...             ...
18111  BU19923201   19923201             Tuindorp-Hofstede  Voorne aan Zee
18112  BU19923202   19923202                      Zalmlaan  Voorne aan Zee
18113  BU19923209   19923209             Verspreide huizen  Voorne aan Zee
18114    WK199233     199233  Recreatiestrook Brielse Maas  Voorne aan Zee
18115  BU19923300   19923300  Recreatiestrook Brielse Maas  Voorne aan Zee

           recs    gwb_code ind_wbi     a_inw    a_man  a_vrouw  ...  \
index                                                            ...
0          Land        NL00       .  17811291  8850309  8960982  ...
1      Gemeente      GM0014       1    238147   118198   119949  ...
2          Wijk    WK001400       1     23150    12045    11105  ...
3         Buurt  BU00140000       1      4405     2315     2090  ...
4         Buurt  BU00140001       1      6570     3505     3060  ...
...         ...         ...     ...       ...      ...      ...  ...
18111     Buurt  BU19923201       2       960      485      480  ...
18112     Buurt  BU19923202       2        65       35       30  ...
18113     Buurt  BU19923209       2       300      150      145  ...
18114      Wijk    WK199233       2        50       25       30  ...
18115     Buurt  BU19923300       2        55       25       25  ...

       g_afs_kv  g_afs_sc  g_3km_sc  a_opp_ha  a_lan_ha  a_wat_ha  pst_mvp  \
index
0             .         .         .   4154337   3364723    789614        .
1             .         .         .     19796     18553      1243        .
2             .         .         .       241       228        13        .
3             .         .         .        39        37         2     9712
4             .         .         .        59        55         4     9711
...         ...       ...       ...       ...       ...       ...      ...
18111         .         .         .        30        27         4     3238
18112         .         .         .        17        11         6     3238
18113         .         .         .       884       809        75     3238
18114         .         .         .       233       121       112        .
18115         .         .         .       233       121       112     3231

       pst_dekp  ste_mvs ste_oad
index
0             .        2    2055
1             .        1    3427
2             .        1    6647
3             1        1    6865
4             1        1    6586
...         ...      ...     ...
18111         3        5     284
18112         1        5     278
18113         1        5      95
18114         .        5      84
18115         1        5      84

[18116 rows x 120 columns]