<a href="https://colab.research.google.com/github/PMahhov/DSS-Dashboard/blob/main/data_preprocessing_pipeline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Automatic data extraction (from API's). Counts as dynamic data extraction.

2. Read & Clean data.

  Only 32 columns needed from demographic data (KWB). Drop the remaining and rename the columns in English. ✅
  
  Drop columns we dont use. ✅

  Drop categorie we dont use. ✅
   
  In demographic data, [distance_GP, distance_supermarket, distance_daycare, distance_school, avg_stdised_hh_income] - have float numbers with comma instead of dot. ✅

  Add 'year' column to demographic files. ✅

  Divide each education column by total population (get value 0 to 1)✅

  Divide labor force by 100 to get 0 to 1 ✅

  Multiply standardized household average income by 1000 ✅

  Remove name column from demo table, make a separate table with two columns: municipality id and municipality name ✅

  Categorize 'crime_code' to their respective crime category(based on Overleaf). ✅

**Read and merge files throghout years**

In [ ]:
import requests
json_url = "https://cartomap.github.io/nl/wgs84/gemeente_2023.geojson"
response = requests.get(json_url)
json_data = response.json()
# print(json_data)

# Extract municipality IDs from the JSON data
municipality_ids = [feature["properties"]["statcode"] for feature in json_data["features"]]
# print(municipality_ids)

values_to_remove = ['GM1980', 'GM1982', 'GM1991', 'GM1992']

# Remove the values from the list
for value in values_to_remove:
    municipality_ids.remove(value)
# print(municipality_ids)

In [ ]:
import pandas as pd
import numpy as np
def read_data(year, data_type):
    demo_file_path = f'kwb-{year}.xls'
    crime_file_path = f'policedata{year}.csv'

    if data_type == 'demo':
        try:
            demo_df = pd.read_excel(demo_file_path)
            demo_df['year'] = int(year)
        except FileNotFoundError:
            return None
        return demo_df

    if data_type == 'crime':
        try:
            crime_df = pd.read_csv(crime_file_path, delimiter=';')
        except FileNotFoundError:
            return None
        return crime_df

def merge_data(years):
    demo_dfs, crime_dfs = [], []

    for year in years:
        demo_df = read_data(year, 'demo')
        crime_df = read_data(year, 'crime')

        if demo_df is not None:
            demo_dfs.append(demo_df)
        if crime_df is not None:
            crime_dfs.append(crime_df)

    merged_demo_df = pd.concat(demo_dfs, ignore_index=True)
    merged_crime_df = pd.concat(crime_dfs, ignore_index=True)

    return merged_demo_df, merged_crime_df

**Demographic data pre-processing**

In [ ]:
def clean_demo_data_func(demo_df, current_municipalities):
  demo_df = demo_df[['gwb_code', 'gm_naam', 'a_inw', 'g_hhgro', 'bev_dich',
                     'ste_mvs', 'a_opl_lg', 'a_opl_md', 'a_opl_hg', 'g_afs_hp', 'g_afs_gs',
                     'g_afs_kv', 'g_afs_sc', 'p_arb_pp', 'g_ink_po', 'year']]
  demo_df = demo_df[demo_df['gwb_code'].str.startswith('GM')]

  demo_df = demo_df[demo_df['gwb_code'].isin(current_municipalities)]

  demo_df = demo_df.rename(columns={
        'gwb_code': 'municipality_id',
        'gm_naam': 'municipality_name',
        'a_inw': 'population',
        'g_hhgro': 'household_size',
        'bev_dich': 'population_density',
        'ste_mvs': 'degree_of_urbanity',
        'a_opl_lg': 'low_educated_population',
        'a_opl_md': 'medium_educated_population',
        'a_opl_hg': 'high_educated_population',
        'g_afs_hp': 'distance_GP',
        'g_afs_gs': 'distance_supermarket',
        'g_afs_kv': 'distance_daycare',
        'g_afs_sc': 'distance_school',
        'p_arb_pp': 'labor_force_participation',
        'g_ink_po': 'avg_income_per_recipient'
    })

  for col in demo_df.columns:
    demo_df[col] = demo_df[col].replace('.', np.nan)


  #convert commas to floating points in respective columns
  columns_to_convert = ['household_size', 'distance_GP', 'distance_supermarket', 'distance_daycare',
                        'distance_school', 'avg_income_per_recipient']


  for column in columns_to_convert:
    # print(demo_df[column].dtype)
    # print(demo_df[column])
    demo_df[column] = demo_df[column].str.replace(',', '.').astype(float)

    # print(demo_df[column].dtype)

  to_float_columns = ['labor_force_participation', 'low_educated_population',
                      'medium_educated_population', 'high_educated_population',
                      'avg_income_per_recipient']

  # demo_df['labor_force_participation'] = demo_df['labor_force_participation'].astype(float)
  for col in to_float_columns:
    demo_df[col] = demo_df[col].astype(float)
  #   demo_df[col] = pd.to_numeric(demo_df[col])

  demo_df['labor_force_participation'] = demo_df['labor_force_participation'] / 100

  demo_df['avg_income_per_recipient'] = demo_df['avg_income_per_recipient'] * 1000

  for column in ['low_educated_population', 'medium_educated_population', 'high_educated_population']:
    demo_df[column] = demo_df[column] / demo_df['population']

  municipality_names = demo_df[['municipality_id', 'municipality_name']]
  demo_df.drop(columns=['municipality_name'], inplace=True)

  return demo_df, municipality_names

**Crime data pre-processing**

In [ ]:
def clean_crime_data_func(crime_df, current_municipalities):
  #keep desired columns only
  crime_df = crime_df[["SoortMisdrijf", "RegioS", "Perioden", "GeregistreerdeMisdrijven_1"]]


  #keep municipality data only
  crime_df = crime_df[crime_df["RegioS"].str.startswith('GM')]

  crime_df = crime_df[crime_df["RegioS"].isin(current_municipalities)]

  crime_df = crime_df.rename(columns={
        "SoortMisdrijf": 'crime_code',
        "RegioS": 'municipality_id',
        "Perioden": 'year',
        "GeregistreerdeMisdrijven_1": 'registered_crimes'
    })

  crime_df['crime_code'] = crime_df['crime_code'].str.strip()
  crime_codes_to_keep = ["1.6.2", "3.9.1", "1.3.1", "1.2.3", "2.2.1", "1.2.1", "1.4.5", "1.1.1",
                         "2.5.2", "3.5.2", "1.4.4", "2.5.1", "1.2.5", "3.1.1", "1.2.4", "1.1.2",
                         "3.7.3", "1.2.2", "1.4.1", "3.6.4", "3.5.5", "3.1.3", "1.6.1", "3.7.4",
                         "1.4.6", "1.4.3", "2.4.2", "1.4.2", "2.7.2", "3.9.3", "1.5.2", "1.4.7"]
  crime_df = crime_df[crime_df['crime_code'].isin(crime_codes_to_keep)]

  #drop rows with non-finite or missing values in 'registered_crimes'
  #change it with different threshold later
  # crime_df = crime_df[crime_df['registered_crimes'] >= 100]
  crime_df = crime_df.dropna(subset=['registered_crimes'], how='any')

  #convert 'registered_crimes' to integers
  crime_df['registered_crimes'] = crime_df['registered_crimes'].astype(int)

  #extract year
  crime_df['year'] = crime_df['year'].str.extract(r'(\d{4})')


  return crime_df

In [ ]:
years = range(2012, 2024)
merged_demo_data, merged_crime_data = merge_data(years)

In [ ]:
clean_demo_data, municipality_names_df = clean_demo_data_func(merged_demo_data, municipality_ids)

In [ ]:
clean_crime_data = clean_crime_data_func(merged_crime_data, municipality_ids)

In [ ]:
print(clean_demo_data.head(10))
print(municipality_names_df.head(10))
print(clean_crime_data.head(10))

    municipality_id  population  household_size population_density  \
90           GM0014      195415             1.7               2497
345          GM0034      195210             2.4               1510
418          GM0037       32885             2.2                280
485          GM0047       27915             2.2                367
551          GM0050       21260             2.6                 86
760          GM0059       28110             2.4                275
788          GM0060        3525             2.2                 60
865          GM0072       15855             2.2                635
881          GM0074       43320             2.2                321
937          GM0080       95950             1.9               1219

    degree_of_urbanity  low_educated_population  medium_educated_population  \
90                   1                      NaN                         NaN
345                  2                      NaN                         NaN
418                  4                      NaN                         NaN
485                  4                      NaN                         NaN
551                  4                      NaN                         NaN
760                  5                      NaN                         NaN
788                  5                      NaN                         NaN
865                  4                      NaN                         NaN
881                  3                      NaN                         NaN
937                  2                      NaN                         NaN

     high_educated_population  distance_GP  distance_supermarket  \
90                        NaN          0.7                   0.6
345                       NaN          0.8                   0.7
418                       NaN          1.6                   1.2
485                       NaN          1.2                   1.1
551                       NaN          1.6                   1.5
760                       NaN          1.3                   1.5
788                       NaN          1.0                   0.5
865                       NaN          1.1                   0.9
881                       NaN          1.4                   1.6
937                       NaN          1.0                   0.8

     distance_daycare  distance_school  labor_force_participation  \
90                0.4              0.7                        NaN
345               0.5              0.5                        NaN
418               1.5              0.8                        NaN
485               1.3              0.8                        NaN
551               1.2              1.1                        NaN
760               0.2              0.7                        NaN
788               6.2              0.8                        NaN
865               1.2              0.6                        NaN
881               1.3              0.7                        NaN
937               0.5              0.7                        NaN

     avg_income_per_recipient  year
90                    26900.0  2013
345                   32300.0  2013
418                   24700.0  2013
485                   27000.0  2013
551                   33900.0  2013
760                   24700.0  2013
788                   26100.0  2013
865                   27000.0  2013
881                   28500.0  2013
937                   26900.0  2013
    municipality_id municipality_name
90           GM0014         Groningen
345          GM0034            Almere
418          GM0037       Stadskanaal
485          GM0047           Veendam
551          GM0050          Zeewolde
760          GM0059     Achtkarspelen
788          GM0060           Ameland
865          GM0072         Harlingen
881          GM0074        Heerenveen
937          GM0080        Leeuwarden
    crime_code municipality_id  year  registered_crimes
395      1.1.1          GM1680  2013                106
396      1.1.1          GM0358  2013                103
397      1.1.1          GM0197  2013                 34
398      1.1.1          GM0059  2013                 38
399      1.1.1          GM0482  2013                 55
400      1.1.1          GM0613  2013                140
401      1.1.1          GM0361  2013                559
402      1.1.1          GM0141  2013                412
403      1.1.1          GM0034  2013               1887
404      1.1.1          GM0484  2013                381

**Create crime_type table/df**

In [ ]:
def crime_type_df():
    # Define the crime code categories and max jail times
    categories = {
        'Personal crime': ["1.1.1", "1.1.2", "1.2.1", "1.2.2", "1.2.3", "1.2.4", "1.2.5", "1.4.1", "1.4.2", "1.4.3", "1.4.4", "1.4.5", "1.4.6", "1.4.7", "1.5.2", "1.6.1", "1.6.2"],
        'Property crime': ["2.2.1", "2.4.2", "2.5.1", "2.5.2", "2.7.2"],
        'Societal crime': ["3.1.1", "3.1.3", "3.5.2", "3.5.5", "3.6.4", "3.7.3", "3.7.4", "3.9.1", "3.9.3"]
    }

    max_jail_times = {
        "1.1.1": 12, "1.1.2": 4, "1.2.1": 4, "1.2.2": 4, "1.2.3": 4, "1.2.4": 4, "1.2.5": 4, "1.4.1": 6, "1.4.2": 30,
        "1.4.3": 4.5, "1.4.4": 3, "1.4.5": 7.5, "1.4.6": 9, "1.4.7": 12, "1.5.2": 4, "1.6.1": 12, "1.6.2": 4,
        "2.2.1": 2, "2.4.2": 1, "2.5.1": 4, "2.5.2": 4, "2.7.2": 4, "3.1.1": 12, "3.1.3": 8, "3.5.2": 1, "3.5.5": 0.25,
        "3.6.4": 0.5, "3.7.3": 1, "3.7.4": 4, "3.9.1": 4, "3.9.3": 9
    }


    crime_type_df = pd.DataFrame({'crime_code': max_jail_times.keys()})

    # Determine the category for each crime code
    crime_type_df['category'] = crime_type_df['crime_code'].apply(
        lambda code: next((category for category, codes in categories.items() if code in codes), None)
    )

    # Add the 'max_jailtime_yrs' column
    crime_type_df['max_jailtime_yrs'] = crime_type_df['crime_code'].map(max_jail_times)

    return crime_type_df

In [ ]:
crime_type_df = crime_type_df()

print(crime_type_df)

   crime_code        category  max_jailtime_yrs
0       1.1.1  Personal crime             12.00
1       1.1.2  Personal crime              4.00
2       1.2.1  Personal crime              4.00
3       1.2.2  Personal crime              4.00
4       1.2.3  Personal crime              4.00
5       1.2.4  Personal crime              4.00
6       1.2.5  Personal crime              4.00
7       1.4.1  Personal crime              6.00
8       1.4.2  Personal crime             30.00
9       1.4.3  Personal crime              4.50
10      1.4.4  Personal crime              3.00
11      1.4.5  Personal crime              7.50
12      1.4.6  Personal crime              9.00
13      1.4.7  Personal crime             12.00
14      1.5.2  Personal crime              4.00
15      1.6.1  Personal crime             12.00
16      1.6.2  Personal crime              4.00
17      2.2.1  Property crime              2.00
18      2.4.2  Property crime              1.00
19      2.5.1  Property crime              4.00
20      2.5.2  Property crime              4.00
21      2.7.2  Property crime              4.00
22      3.1.1  Societal crime             12.00
23      3.1.3  Societal crime              8.00
24      3.5.2  Societal crime              1.00
25      3.5.5  Societal crime              0.25
26      3.6.4  Societal crime              0.50
27      3.7.3  Societal crime              1.00
28      3.7.4  Societal crime              4.00
29      3.9.1  Societal crime              4.00
30      3.9.3  Societal crime              9.00

In [ ]:
def groupby_gm_year(crime_type_df, crime_df):

  #v1
  # crime_codes = crime_type_df['crime_code'].tolist()

  # crime_counts_df = pd.DataFrame({'municipality_id': crime_df['municipality_id'], 'year': crime_df['year']})

  # for code in crime_codes:
  #   code_counts = crime_df[crime_df['crime_code']==code].groupby(['municipality_id', 'year']).size().reset_index(name=code)
  #   crime_counts_df = pd.merge(crime_counts_df, code_counts, on=['municipality_id', 'year'], how='left')

  # crime_counts_df.fillna(0, inplace=True)

  #v2

  # crime_summary = pd.merge(crime_summary, crime_type_df, on='crime_code', how='left')

  crime_df_pivot = pd.pivot_table(crime_df, index=['municipality_id', 'year'], columns = 'crime_code', values='registered_crimes', aggfunc='sum', fill_value=0)

  # print(crime_df_pivot.columns)
  crime_df_pivot = crime_df_pivot.reset_index()


  # crime_summary = pd.merge(crime_df_pivot, crime_type_df, on=['crime_code'], how='left')
  # crime_summary = pd.merge(crime_df_pivot, crime_type_df, left_index=True, right_index=True, how='left')
  return crime_df_pivot

In [ ]:
crime_counts_df = groupby_gm_year(crime_type_df, clean_crime_data)
crime_counts_df.columns.name = None

In [ ]:
print(crime_counts_df)

     municipality_id  year  1.1.1  1.1.2  1.2.1  1.2.2  1.2.3  1.2.4  1.2.5  \
0             GM0014  2013   1444    421   1017    119   4314    700    174
1             GM0014  2014   1278    373    902     98   3809    453    157
2             GM0014  2015    947    292   1112    130   4090    493    153
3             GM0014  2016    970    267    966    111   3850    584    126
4             GM0014  2017    610    205    547    101   2737    328    107
...              ...   ...    ...    ...    ...    ...    ...    ...    ...
3375          GM1979  2018     57     18     26      4    103      7     19
3376          GM1979  2019     74     36     15      7    101      2      8
3377          GM1979  2020     33     15     28      6     56      0     11
3378          GM1979  2021     66     68     51      4     81      4     13
3379          GM1979  2022     78     33     67      6     98      3     21

      1.3.1  ...  2.7.2  3.1.1  3.1.3  3.5.2  3.5.5  3.6.4  3.7.3  3.7.4  \
0       784  ...     33    302     65    355     66     81    196     29
1       844  ...     25    224     64    291     73     87    214     36
2       824  ...     21    213     55    329     66     81    143     32
3       873  ...     16    181     51    365     73     75    171     32
4       856  ...     20    176     56    405     64     66    147     30
...     ...  ...    ...    ...    ...    ...    ...    ...    ...    ...
3375    117  ...      5     29      8     71     19      6     38     14
3376    126  ...      2     34      6    116     17     12     35     33
3377    120  ...      6     21     18     98     15      9     28     25
3378    133  ...      7     18     15     88     26      9     20     60
3379    157  ...      5      6      9     99     29      6     29     67

      3.9.1  3.9.3
0        60    445
1        91    359
2       668    284
3      1089     48
4      1074     39
...     ...    ...
3375    139      2
3376    185      0
3377    299      4
3378    301      2
3379    214      0

[3380 rows x 34 columns]

In [ ]:
def weighted_sum_calc(crime_counts_df, crime_type_df):
  crime_counts_df['weighted_personal'] = 0
  crime_counts_df['weighted_property'] = 0
  crime_counts_df['weighted_societal'] = 0

  for index,row in crime_type_df.iterrows():
    crime_code = row['crime_code']
    category = row['category']
    max_jailtime_yrs = row['max_jailtime_yrs']

    crime_counts_df_col = crime_counts_df[crime_code]

    if category == 'Personal crime':
      crime_counts_df['weighted_personal'] += crime_counts_df_col * max_jailtime_yrs
    elif category == 'Property crime':
      crime_counts_df['weighted_property'] += crime_counts_df_col * max_jailtime_yrs
    elif category == 'Societal crime':
      crime_counts_df['weighted_societal'] += crime_counts_df_col * max_jailtime_yrs

  return crime_counts_df

In [ ]:
updated_crime_counts_df = weighted_sum_calc(crime_counts_df, crime_type_df)

In [ ]:
print(updated_crime_counts_df.head(10))

  municipality_id  year  1.1.1  1.1.2  1.2.1  1.2.2  1.2.3  1.2.4  1.2.5  \
0          GM0014  2013   1444    421   1017    119   4314    700    174
1          GM0014  2014   1278    373    902     98   3809    453    157
2          GM0014  2015    947    292   1112    130   4090    493    153
3          GM0014  2016    970    267    966    111   3850    584    126
4          GM0014  2017    610    205    547    101   2737    328    107
5          GM0014  2018    770    177    396     97   2404    236     89
6          GM0014  2019    655    185    490     47   2184    262    106
7          GM0014  2020    411    115    367     59   1797    133    153
8          GM0014  2021    355    153    238     63   2086     88    138
9          GM0014  2022    389    150    514     92   2625    234    245

   1.3.1  ...  3.5.2  3.5.5  3.6.4  3.7.3  3.7.4  3.9.1  3.9.3  \
0    784  ...    355     66     81    196     29     60    445
1    844  ...    291     73     87    214     36     91    359
2    824  ...    329     66     81    143     32    668    284
3    873  ...    365     73     75    171     32   1089     48
4    856  ...    405     64     66    147     30   1074     39
5    882  ...    488     85     64    144     78   1109     51
6    879  ...    491     94     66    174    124   1362     50
7    811  ...    528     94     72    137    285   1796     40
8    801  ...    481    101     66    185    304   1457     24
9    987  ...    586    111    111    134    219   1143      9

   weighted_personal  weighted_property  weighted_societal
0            70155.0            10331.0            9113.00
1            62203.0            10266.0            7505.75
2            58167.5             9359.0            8881.00
3            56553.5             9611.0            8087.75
4            43313.0             9226.0            7928.00
5            41616.5             7860.0            9048.25
6            38682.0             8092.0           10379.50
7            30480.0             7172.0           12076.50
8            28637.0             5966.0            9812.25
9            36741.5             7732.0            8624.25

[10 rows x 37 columns]

In [ ]:
def divide_by_population(demo_df, crime_counts_df):

  demo_df['year']= demo_df['year'].astype(int)
  demo_df_subset = demo_df[['municipality_id', 'population', 'year']]
  crime_counts_df['year']=crime_counts_df['year'].astype(int)
  merged_data = pd.merge(crime_counts_df,  demo_df_subset,  on=['municipality_id', 'year'], how='inner')

  for column in ['weighted_personal', 'weighted_property', 'weighted_societal']:
    merged_data[column]= merged_data[column] / merged_data['population']

  merged_data.fillna(0, inplace=True)

  merged_data['X/P']= (merged_data['weighted_personal']+merged_data['weighted_property']+merged_data['weighted_societal'])

  return merged_data

In [ ]:
x_over_p_df = divide_by_population(clean_demo_data, updated_crime_counts_df)

In [ ]:
print(x_over_p_df)

     municipality_id  year  1.1.1  1.1.2  1.2.1  1.2.2  1.2.3  1.2.4  1.2.5  \
0             GM0014  2013   1444    421   1017    119   4314    700    174
1             GM0014  2014   1278    373    902     98   3809    453    157
2             GM0014  2015    947    292   1112    130   4090    493    153
3             GM0014  2016    970    267    966    111   3850    584    126
4             GM0014  2017    610    205    547    101   2737    328    107
...              ...   ...    ...    ...    ...    ...    ...    ...    ...
3281          GM1978  2020     34     22     13      2     20      3     14
3282          GM1978  2021     17     13     17      2     20      0      7
3283          GM1978  2022     11     14      7      6     32      1     11
3284          GM1979  2021     66     68     51      4     81      4     13
3285          GM1979  2022     78     33     67      6     98      3     21

      1.3.1  ...  3.6.4  3.7.3  3.7.4  3.9.1  3.9.3  weighted_personal  \
0       784  ...     81    196     29     60    445           0.359005
1       844  ...     87    214     36     91    359           0.313658
2       824  ...     81    143     32    668    284           0.290350
3       873  ...     75    171     32   1089     48           0.281428
4       856  ...     66    147     30   1074     39           0.213748
...     ...  ...    ...    ...    ...    ...    ...                ...
3281    125  ...      6     11     19    275      0           0.039457
3282    118  ...      5      4      8    248      2           0.028733
3283    145  ...      2      7     16    177      1           0.031068
3284    133  ...      9     20     60    301      2           0.087722
3285    157  ...      6     29     67    214      0           0.096984

      weighted_property  weighted_societal  population       X/P
0              0.052867           0.046634      195415  0.458506
1              0.051766           0.037848      198315  0.403271
2              0.046717           0.044331      200336  0.381397
3              0.047827           0.040247      200952  0.369502
4              0.045530           0.039124      202636  0.298402
...                 ...                ...         ...       ...
3281           0.005511           0.034720       43909  0.079688
3282           0.006436           0.031532       44130  0.066701
3283           0.005533           0.026006       44644  0.062606
3284           0.021519           0.042051       45587  0.151293
3285           0.023728           0.030982       45389  0.151694

[3286 rows x 39 columns]

In [ ]:
highest_x_p_val = x_over_p_df['X/P'].max()
print(highest_x_p_val)

0.5889531137593444

In [ ]:
def crime_score(x_over_p, highest_value):
  bins = [0, 0.1 * highest_value, 0.2 * highest_value, 0.3 * highest_value, 0.4 * highest_value, 0.5 * highest_value,
            0.6 * highest_value, 0.7 * highest_value, 0.8 * highest_value, 0.9 * highest_value, highest_value]

  labels = list(range(1,11))
  x_over_p['crime_score'] = pd.cut(x_over_p['X/P'], bins=bins, labels=labels, include_lowest=True)

  #show distribution of crime_score
  return x_over_p

In [ ]:
crime_score_df = crime_score(x_over_p_df, highest_x_p_val)

In [ ]:
print(crime_score_df)

     municipality_id  year  1.1.1  1.1.2  1.2.1  1.2.2  1.2.3  1.2.4  1.2.5  \
0             GM0014  2013   1444    421   1017    119   4314    700    174
1             GM0014  2014   1278    373    902     98   3809    453    157
2             GM0014  2015    947    292   1112    130   4090    493    153
3             GM0014  2016    970    267    966    111   3850    584    126
4             GM0014  2017    610    205    547    101   2737    328    107
...              ...   ...    ...    ...    ...    ...    ...    ...    ...
3281          GM1978  2020     34     22     13      2     20      3     14
3282          GM1978  2021     17     13     17      2     20      0      7
3283          GM1978  2022     11     14      7      6     32      1     11
3284          GM1979  2021     66     68     51      4     81      4     13
3285          GM1979  2022     78     33     67      6     98      3     21

      1.3.1  ...  3.7.3  3.7.4  3.9.1  3.9.3  weighted_personal  \
0       784  ...    196     29     60    445           0.359005
1       844  ...    214     36     91    359           0.313658
2       824  ...    143     32    668    284           0.290350
3       873  ...    171     32   1089     48           0.281428
4       856  ...    147     30   1074     39           0.213748
...     ...  ...    ...    ...    ...    ...                ...
3281    125  ...     11     19    275      0           0.039457
3282    118  ...      4      8    248      2           0.028733
3283    145  ...      7     16    177      1           0.031068
3284    133  ...     20     60    301      2           0.087722
3285    157  ...     29     67    214      0           0.096984

      weighted_property  weighted_societal  population       X/P  crime_score
0              0.052867           0.046634      195415  0.458506            8
1              0.051766           0.037848      198315  0.403271            7
2              0.046717           0.044331      200336  0.381397            7
3              0.047827           0.040247      200952  0.369502            7
4              0.045530           0.039124      202636  0.298402            6
...                 ...                ...         ...       ...          ...
3281           0.005511           0.034720       43909  0.079688            2
3282           0.006436           0.031532       44130  0.066701            2
3283           0.005533           0.026006       44644  0.062606            2
3284           0.021519           0.042051       45587  0.151293            3
3285           0.023728           0.030982       45389  0.151694            3

[3286 rows x 40 columns]

In [ ]:
from sqlalchemy import create_engine, text

# Create a SQLAlchemy engine to connect to the PostgreSQL database
engine = create_engine("postgresql://your_username:your_password@your_host:your_port/your_database")

# Dump 'demo_df' DataFrame into 'demo_data' table
with engine.connect() as conn:
    conn.execute(text("DROP TABLE IF EXISTS demo_data CASCADE;"))
clean_demo_data.to_sql("demo_data", engine, if_exists="replace", index=False)

# Dump 'municipality_names_df' DataFrame into 'municipality_names' table
with engine.connect() as conn:
    conn.execute(text("DROP TABLE IF EXISTS municipality_names CASCADE;"))
municipality_names_df.to_sql("municipality_names", engine, if_exists="replace", index=False)

# Dump 'crime_data' DataFrame into 'crime_data' table
with engine.connect() as conn:
    conn.execute(text("DROP TABLE IF EXISTS crime_data CASCADE;"))
clean_crime_data.to_sql("crime_data", engine, if_exists="replace", index=False)

# Dump 'crime_type_df' DataFrame into 'crime_type' table
with engine.connect() as conn:
    conn.execute(text("DROP TABLE IF EXISTS crime_type CASCADE;"))
crime_type_df.to_sql("crime_type", engine, if_exists="replace", index=False)

# Dump 'crime_score_df' DataFrame into 'crime_score' table
with engine.connect() as conn:
    conn.execute(text("DROP TABLE IF EXISTS crime_score CASCADE;"))
crime_score_df.to_sql("crime_score", engine, if_exists="replace", index=False)